{% extends "base.html" %}

{% block incl_mainbody %}
<div id="publish"><h2>发布单页</h2><form id="myform" action="/singlepage/add" method="post">
            <div>标题: <input id="title" name="title" type="text" value="" size="45">小于500Bytes</div>
			<div>单页ID: <input id="index" name="index" type="text" value="0" size="4" maxlength="10"> 
			第几页: <input id="pagenum" name="pagenum" type="text" value="1" size="4" maxlength="2">
			</div>
            {% include "editor.html" %}
			<div></div>
			<div><input id="gosubmit" type="submit" value="提交单页"> </div>
          </form></div>
{% endblock %}
