
<div>

<div class="sidebar">
<b>需要做网站吗？</b><br>
无论您是公司还是个人，<br>
我们为您提供安全稳定Google云主机，<br>
免去国内网站备案的烦恼，<br>
全球稳定的访问速度，<br>
面向全球的网站视野，<br>
给您带来全新的网站体验！<br>
<br>&raquo; 有意者请联系: <a rel="nofollow" href="javascript:void(0);" onclick="window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=46916597&amp;site=qq&amp;menu=yes');"><img src="http://wpa.qq.com/pa?p=2:46916597:41%20&amp;r=0.3873637772395587" align="absmiddle" alt="和我联系46916597" title="和我联系46916597" align="absmiddle" border="0"></a>，<br>
验证信息请填写“谷歌主机”。


</div>
<div class="sidebar">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0530210725070236";
google_ad_slot = "2170292311";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<div class="sidebar">
{%if singlepages%}<ul class="list">{%endif%}
{%for x in singlepages%}
<li>&raquo; <a href="/page/{{x.index}}/">{{x.title}}</a></li>
{%endfor%}
{%if singlepages%}</ul>{%endif%}
<br><br>
<ul class="list"><b>推荐国外主机空间</b><br><br>
这年头，国内的空间已经<br>
让人用的费心和不放心。<br>
好在国外还有值得信任的安全、<br>
稳定的主机空间。那么什么是<br>
值得信任的安全、稳定的主机空间?<br><br>
1. 数据安全性，防黑客、可长期保存<br>
2. 空间稳定性，访问方便、速度快<br>
3. 供应商诚信问题，刷卡、缴费放心<br>
4. 没有备案的窝心，省事、便捷<br><br>

<li><br>&raquo; <a href="http://www.linode.com/?r=ef2db9d3dd400c8e0e2ca6ebd35cbf6e366d1885" rel="nofollow" title="VPS hosting"><b>Linode</b></a><br>
适合预算在一千/年以上的用户，<br>
可以选择高速稳定的亚太区VPS，<br>
让你免去速度的烦忧。<br><br>
</li>
<li><br>&raquo; <a href="http://affiliate.godaddy.com/redirect/EA4455117A5CB5FB5E33DA3674C9E989EDD6872BAB9614FF663843297F08EDD6EE680DBB8BFB7F20CBEEAA91E9764C84" rel="nofollow" title="Cloud hosting"><b>Godaddy</b></a><br>
适合预算在一千/年以下的用户，<br>
可以自由选择传统虚拟主机<br>
和亚太区云空间，<br>
虽然速度稍逊一筹，<br>
但是绝对让你用最少的钱<br>
得到最大的实惠。<br><br>
</li>
</ul>

<br><br>
<b>友情链接</b><br><br>

&raquo; <a href="http://www.zhaiduo.com/">My Blog</a><br>

&raquo; <a href="http://savemytweets.info/">My Tweets</a><br>
&raquo; <a href="http://danmen.zhaiduo.com/">My Danmen</a><br>

&raquo; <a href="http://smecms.info/">PHP CMS</a><br>
&raquo; <a href="http://zdvps.zhaiduo.com/">VPS on zhaiduo.com</a><br>
&raquo; <a href="https://zdvps.zhaiduo.com/">Nodejs Https</a><br>

&raquo; <a href="http://hosting.zhaiduo.com/">智德主机</a><br>

</div>
</div>
